body{
    background-color: rgba(255, 255, 255, 0.993);
    min-width: 750px;
    font-family: bolder, system-ui, 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
}
.parents-nav.png{
    width: 100%;
    height: 300px;
}
@media screen and (max-width:700px) {
    .parents-nav.png{
        width: none;
       position: absolute;
       justify-content: center;
    }
}
.nav-png{
    width: 100%;
}
@media screen and (max-width:700px){
    .nav.png{
        width: none;
        position: absolute;
        justify-content: center;
    }
}
@media screen and (max-width:1020px) {
    .nav.png{
        width: none;
    }
}
.parents-all{
    height: 100%;
    min-width: 1000px;
}
@media screen and (max-width: 700px) {
    .parents-all{
        height: 100%;
        min-width: 500px;
    }
}
.ggo{
    display: block;
}
.father-menu-on-left{
    display: block;
    position: absolute;
    left: 0;
    height: 1690px;
    width: 100px;
}
@media screen and (max-width:700px) {
    .father-menu-on-left{
        display: none;
    }
}
.menu-on-left{
    display: block;
    font-weight: 700;
    margin: 10px;
    position: sticky;
    top:60px;
}
.top-menu{
    width: 100%;
    height: 50px;
    background: rgb(255, 255, 255);
    position: sticky;
    top: 0;
    border: 1px solid #ff0;
    z-index: 1;
    display: flex;
    justify-content: center;
}
.item-in-child-top-menu{
    display:inline;
    border: 1px solid rgb(165, 165, 164);
    justify-content: center;
    border-radius: 4px;
    margin: 5px;
    height: 30px;
    padding-right: 30px;
    align-self:center;
    align-items: center;
    position: relative;
    padding-left: 4px;
}
.img-in-item-in-child-top-menu{
    position: absolute;
    margin-left: 5px;
    margin-top: 4px;
}
.parents-sneakers-container{
    display: flex;
    justify-content: center;
}
.first-sneakers-container{
    display: flex;
    height: 100%;
    max-width: 750px;
    flex-wrap: wrap; 
    justify-content: center;
}
@media screen and (max-width: 700px) {
    .first-sneakers-container{
        max-width: 700px;
        padding-left: none;

    }
}
.second-sneakers-container{
    margin: 5px;
    top: 0px;
    position: relative;
}
.shoes-img {
    border-radius: 5px;
}
@media screen and (max-width: 700px) {
    .shoes-img {
        width: 316px;
        height: 420px;
        margin: 10px;
    }
}
.svg-heart{
    position: absolute;
    top: 15px;
    right: 0px;
}
@media screen and (max-width: 700px){
    .svg-heart{
        display: none;
    }
}
.svg-heart-for-mobile{
    position: absolute;
    top: 10px;
    right: 10px;
    width: 27px;
    height: 27px;
}
@media screen and (max-width: 700px){
    .svg-heart-for-mobile{
        position: absolute;
        top: 26px;
        right: 24px;
        width: 37px;
        height: 37px;
    }
}
.item-price{
    font-weight: bold;
    font-family: Helvetica,Arial,sans-serif;
    font-size: 18px;
}
.item-type{
    margin: 0ch;
}
.item-title{
    margin: 0px;
}
